.header {
  display: flex;
  justify-content: space-between;

  padding: 1rem 10rem;
  margin-bottom: 4rem;
  background-color: var(--blackColor);
}

.heading {
  color: var(--whiteColor);
  font-weight: 700;
  letter-spacing: 1px;
}
